.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #FFF;
}

footer ul {
  display: flex;
  justify-content: space-between;
}

footer li {
  list-style-type: none;
  padding-top: .5%;
}

.footer-button {
  background-color: #343A40;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
}

.footer-button:hover {
  background-color: #FFF;
  color: #343a40;
}

